


  <div class="container-index uk-text-center">
        <div class="uk-thumbnail uk-thumbnail-medium uk-container-center">
          <%= link_to image_tag(@movie.image.to_s), movie_path(@movie) %>
          <div class="caption">
            <ul><%= @movie.title %> (<%= link_to "edit", edit_movie_path(@movie) %>, <%= link_to "delete", movie_path(@movie), method: :delete, confirm: "You sure?" %>)</ul>
            <ul> </ul>
            <li>Release Date: <%= @movie.release_date %></li>
            <ul> </ul>
            <li>Director: <%= @movie.director %> | <%= @movie.runtime_in_minutes %> minutes</li>
            <ul> </ul>>
            <li>Description: <%= @movie.description %></li>
          </div>
        </div>
  </div>


  <div class="container-index uk-text-center">
    <div class="uk-thumbnail uk-thumbnail-medium uk-container-center">
      <h3>Reviews of <em><%= @movie.title %></em></h3>
      <% if current_user %>
        <% @movie.reviews.each do |review| %>
          <p><%= review.text %></p>
          <p><%= review.rating_out_of_ten %>/10</p>
          <small>- <%= review.user.full_name %></small><br/>
        <% end %>
        <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>
      <% else %>
        <p>Please <%= link_to "log in", new_sessions_path %> to see reviews and add your own.</p> 
      <% end %>
    </div>
  </div>
